.header {
    width: 100%;
    margin: auto;
    @include flexDisplay(row, 1rem, space-around, center);
}
.btn-switch {
    background: none;
    border: none;
    font-weight: bolder;
    text-transform: uppercase;
}
